@using zoo.Models
@model Shop_Sale_Record
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <style>
        #login-div {
            position: absolute;
            left: 37%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
            background-color: white;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body style="background-color:cornflowerblue">
    <header style="font-size:3vw; margin-top:50px">
        <text style="align-content:center"> Box Office</text>
    </header>
    <div id="login-div">
        @using (Html.BeginForm("TicketSales", "SalesAssociate", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-align:center">Sales Entry</td>
                </tr>
                <tr>
                    <td>
                        <b>Ticket</b>
                    </td>
                    <td>
                        <input type="text" id="itemName" , name="itemName" value="" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Item_ID)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model2 => model2.quantity)
                    </td>
                    <td>
                        @Html.EditorFor(model2 => model2.quantity)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Phone</b>
                    </td>
                    <td>
                        <input type="text" id="phoneNum" , name="phoneNum" value="" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="Submit" name="name" value="Submit" />
                        <input type="reset" name="name" value="Clear" />
                    </td>
                </tr>
            </table>
        }
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };

            </script>
        }
    </div>
</body>
</html>
