@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">Team4Zoo</h1>
    <p class="lead" align="center">Welcome to the Zoogle.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explore Our Attractions</h2>
        <img src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_limit,q_50,w_1200/https://assets.simpleviewinc.com/simpleview/image/upload/crm/chattanooga/zoo_10_423d6cef-5056-b365-ab59c558f0bd7252.jpg" alt="Image" height="200" width="300">
    </div>
    <div class="col-md-4">
        <h2>Explore Our Events</h2>
        <img src="https://animals.sandiegozoo.org/sites/default/files/2016-09/panda1_10.jpg" alt="Image" height="200" width="300"/>
    </div>
    <div class="col-md-4">
        <h2>Enjoy Working in Zoogle</h2>
        <img src="https://files.guidedanmark.org/files/475/183602_Loevekillinger-i-Odense-ZOO-Ard-Jongsma.jpg?qfix" alt="Image" height="200" width="300"/>
    </div>
</div>